/*
Awards page
*/

#myAwardsPage
{
  background-color: #4B1D13;
  /* background-image: url('../img/greenbg.jpg'); */
  /* background-attachment: fixed; */
}

#awardsText
{
  position: relative;
  padding: 5px 50px;
  text-align: left;
}

#awardsText h1
{
  color: white;
}

#awardsInfo
{
  top: 0%;
  left: 0%;
  display: flex;
  flex-wrap: wrap;
}

.awardBox
{
  min-width: 250px;
  position: relative;
  display: block;
  margin: 20px 30px;
  padding: 20px;
  width: 20%;
  background: white;
  opacity: .8;
  border-radius: 5px;
}

.awardBox i.fa-trophy
{
  font-size: 50pt;
  color: black;
  margin-bottom: 10px;
}

.awardBox p
{
  color: black;
}

p.awardDesc
{
  font-size: 14pt;
}

p.awardName
{
  font-size: 20pt;
}

p.awarderInfo
{
  font-size: 11pt;
}

@media screen and (max-width: 1024px)
{
  .awardBox
  {
    width: 70%;
  }
}

@media screen and (max-width: 500px)
{
  .awardBox
  {
    width: 70%;
    margin: 20px auto;
  }

  #awardsText h1
  {
    font-size: 40px;
    letter-spacing: 1pt;
    word-wrap: break-word;
    text-align: center;
  }
}
