/*
Awards and skills page
*/

#myAwardsPage
{
  background-color: #fde4b2;
}

#awardsText
{
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 3;
}

#skillsText
{
  position: relative;
  top: 0%;
  left: 5%;
  text-align: left;
}

#skillsText h1, #awardsText h1
{
  color: #000000;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 3pt;
  z-index: 3;
}

#awardsInfo
{
  margin-top: 70px;
  top: 0%;
  left: 0%;
}

#skillsInfo
{
  position: relative;
  margin-top: 20px;
  top: 0%;
  left: 0%;
  color: black;
  font-size: 20pt;
}

.awardBox
{
  position: relative;
  top: 0%;
  left: 0%;
  display: inline-grid;
  margin: 50px;
  padding: 20px;
  font-size: 12pt;
  color: black;
  height: auto;
  width: 40%;
  background: white;
}

.awardBox i.fa-trophy
{
  font-size: 50pt;
  color: black;
  margin-bottom: 10px;
}

.awardBox i.fa-circle
{
  color: black;
  font-size: 10pt;
  margin: 0 5px 0 5px;
}

.awardBox p
{
  color: black;
}

p.awardDesc
{
  font-size: 20px;
}

p.awardName
{
  font-size: 35px;
}

p.awarderInfo
{
  font-size: 15px;
}

.listOfSkills
{
  margin-bottom: 50px;
}

.listOfSkills td
{
  padding: 10px 0px 10px 100px;
  color: black;
  font-size: 20pt;
}

.listOfSkills i.fa-star
{
  color: black;
  font-size: 15pt;
  margin-right: 10px;
}

@media screen and (max-width: 1024px)
{
  .awardBox
  {
    width: 70%;
  }
}

@media screen and (max-width: 500px)
{
  .listOfSkills td
  {
    padding: 10px 0px 10px 50px;
    font-size: 10pt;
  }
}
