/*
Education page
*/

#myEducationPage
{
  background-color: #000000;
}

#educationText
{
  position: absolute;
  top: 0%;
  width: 100%;
  text-align: center;
  opacity: 1;
  z-index: 3;
}

#educationText h1
{
  color: #000; /* this used to be white but let's match the other headings */
}

.eduInfo
{
  background: white;
  opacity: .9;
  height: 75%;
  width: 80%;
  color: #ffffff;
  font-size: 30px;
  position: relative;
  top: 10%;
  margin: 10%;
  color: black;
  padding: 5%;
  text-align: left;
  overflow: visible;
  border-radius: 5px;
}

.eduContainer
{
  position: absolute;
  top: 0%;
  width: 33%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#gatechContainer
{
  left: 0%;
  background-image: url('../img/klaus.png');
  background-position: left;
}

#bitsContainer
{
  left: 33%;
  background-image: url('../img/bits.jpg');
  background-position: left;
}

#npsContainer
{
  left: 66%;
  background-image: url('../img/nps.jpg');
  background-position: right;
}

.eduContainer img
{
  height: 100%;
  opacity: .5;
}

.eduInfo p
{
  color: black;
  margin-bottom: 10px;
}

.eduInfo p.eduName
{
  font-family: 'Montserrat', 'Josefin Sans', sans-serif;
  color: black;
  font-size: 20pt;
}

.eduInfo p.eduScore
{
  color: black;
  font-size: 20px;
}

.eduInfo p.eduDetails
{
  color: black;
  font-size: 13pt;
}

.eduInfo b
{
  color: black;
  font-family: 'Montserrat', 'Josefin Sans', sans-serif;
}

.eduInfo i
{
  color: black;
  font-size: 13pt;
}

.eduInfo ul, .eduInfo ul li
{
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.eduLink
{
  font-size: 20px;
}

.eduLink i
{
  color: teal;
}

@media screen and (max-width: 768px)
{
  #educationText h1 {
    font-size: 40px;
  }

  .eduContainer
  {
    position: relative;
    top: 0%;
    width: 100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .eduInfo {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #gatechContainer div.eduInfo
  {
    margin-top: 100px;
  }

  #bitsContainer
  {
    top: 0%;
    left: 0%;
    background-image: url('../img/bits.jpg');
    background-position: left;
    background-size: cover;
  }

  #npsContainer
  {
    top: 0%;
    left: 0%;
    background-image: url('../img/nps.jpg');
    background-position: right;
    background-size: cover;
  }

  #gatechContainer
  {
    top: 0%;
    left: 0%;
    background-image: url('../img/klaus.png');
    background-position: right;
    background-size: cover;
  }
}
