/*
Full page
*/

/*
Colors:
Lime green: bee170
Yellow matching dp: fde4b2
*/

*
{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  padding: 0px;
  margin: 0px;
}

html, body
{
  height: 100%;
}

body
{
  background: #000000;
}

.fullPageDiv
{
  position: relative;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

#siteFooter
{
  padding: 30px;
  margin-bottom: 30px;
  font-size: 10pt;
}

a.navToTop
{
  width: 10%;
  text-transform: uppercase;
  border: 1px solid black;
  color: white;
  padding: 20px;
}

a.navToTop i
{
  color: white;
}

a.navToTop:hover
{
  text-decoration: none;
  opacity: .5;
  cursor: pointer;
}
