/*
Hobbies
*/

#myHobbiesPage
{
  background-color: #fde4b2;
  /* #a5d175, e6ffb3; */
}

#hobbiesText
{
  position: relative;
  top: 0%;
  opacity: 1;
  z-index: 3;
}

#hobbiesText h1
{
  color: black;
}

#hobbiesInfo
{
  padding: 10px 0px 50px 0px;
  position: relative;
  top: 20%;
  left: 0%;
  width: 100%;
}

.hobbyContainer
{
  color: black;
  position: relative;
  top: 0%;
  left: 0%;
  display: inline-block;
  width: 500px;
  margin: 10px;
  padding: 20px;
  font-size: 12pt;
  height: auto;
}

.hobbyContainer img
{
  height: 300px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #888888;
  transition: opacity 0.5s;
  border: 1px solid black;
}

.hobbyContainer img:hover
{
  opacity: .5;
}

.hobbyName
{
  color: black;
  font-size: 18pt;
}

.hobbyDesc
{
  color: black;
}

@media screen and (max-width: 500px)
{
  .hobbyContainer
  {
    width: auto;
    padding: 5px;
  }

  .hobbyContainer img
  {
    width: 100px;
    height: 100px;
  }

  #hobbiesText h1
  {
    font-size: 40px;
    letter-spacing: 1pt;
    word-wrap: break-word;
    text-align: center;
  }
}
