/*
Home page
*/

#myHomePage
{
  background-color: #fde4b2;
}

#displayPicContainer
{
  height: 80%;
  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 1;
}

#displayPicContainer img
{
  height: 100%;
  border-radius: 50%;
  opacity: .5;
}

#introContainer
{
  position: relative;
  top: 100px;
  text-align: right;
  height: auto;
  padding-right: 7%;
  z-index: 2;
}

p.introHeader
{
  color: #000000;
  font-size: 130px;
  font-weight: bold;
}

p.subTitle
{
  color: #000000;
  font-size: 40px;
}

#aboutMe
{
  background: #fde4b2;
  color: black;
  margin-top: 25px;
  padding: 20px;
  font-size: 15pt;
  text-align: justify;
  opacity: .7;
  width: 100%;
  position: relative;
  top: 0%;
  left: 50%;
  width: 50%;
}

#aboutMe p
{
  color: black;
}

#contactContainer
{
  position: absolute;
  top: 10%;
  left: 5%;
  width: 15%;
  z-index: 3;
}

.contactLink
{
  display: block;
  width: 100%;
  height: auto;
  opacity: .8;
  margin-bottom: 40px;
}

.contactLink img
{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  opacity: .5;
  border: 2px solid black;
  box-shadow: 5px;
}

.contactLink img:hover
{
  opacity: .9;
}

.leftImg
{
  margin-right: 50%;
  text-align: left;
}

.rightImg
{
  margin-left: 50%;
  text-align: right;
}
