/*
Home page
*/

#myHomePage
{
  background-color: #fde4b2;
  background-image: url('../img/circularDisplayPic.png');
  background-position: right 20% center;
  background-repeat: no-repeat;
  background-size: 40%;
}

#introContainer
{
  position: relative;
  top: 100px;
  width: 70%;
  float: right;
  text-align: right;
  height: auto;
  padding-right: 7%;
  z-index: 2;
}

p.introHeader
{
  color: #000000;
  font-size: 130px;
  font-weight: bold;
}

p.subTitle
{
  color: #000000;
  font-size: 40px;
}

/*
Note to self - about me is not a part of the intro container div, because I need to set
a different background colour. I also cannot just do it for the <p> tag because I have
two paragraphs and need them both to be in the same block.
*/
#aboutMe
{
  background: #fde4b2;
  color: black;
  margin-top: 25px;
  padding: 20px;
  font-size: 15pt;
  text-align: justify;
  opacity: .7;
  position: relative;
  top: 0%;
  left: 30%;
  width: 70%;
}

#aboutMe p
{
  color: black;
}

#contactContainer
{
  position: relative;
  float: left;
  top: 30px;
  left: 5%;
  width: 15%;
  z-index: 3;
}

#contactContainer img
{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  opacity: .5;
  border: 2px solid black;
  box-shadow: 5px;
  margin-bottom: 40px;
}

#contactContainer img:hover
{
  opacity: .9;
}

.leftImg
{
  margin-right: 50%;
  text-align: left;
}

.rightImg
{
  margin-left: 50%;
  text-align: right;
}

@media screen and (max-width: 768px)
{
  #myHomePage
  {
    background-color: #fde4b2;
    background-image: url('../img/circularDisplayPic.png');
    background-position: top 100px center;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  p.introHeader
  {
    font-size: 80px;
  }

  p.subTitle
  {
    font-size: 30px;
  }

  #introContainer
  {
    position: relative;
    top: 0%;
    float: none;
    width: 100%;
  }

  #aboutMe
  {
    position: relative;
    top: 0%;
    float: none;
    left: 0%;
    width: 100%;
  }

  #contactContainer
  {
    position: relative;
    float: none;
    top: 30px;
    left: 5%;
    z-index: 3;
    width: 100%;
  }

  #contactContainer img
  {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: .5;
    border: 2px solid black;
    box-shadow: 5px;
    margin-bottom: 80px;
  }

  .leftImg
  {
    margin-right: 20px;
    text-align: left;
  }

  .rightImg
  {
    margin-left: 0px;
    margin-right: 20px;
    text-align: left;
  }
}
