/*
Publications and projects page
*/

#myProjPage
{
  background-color: #009999;
}

#publicationsContainer
{
  color: black;
  height: auto;
  position: relative;
  top: 0%;
  float: left;
  width: 40%;
  background: #009999;
  padding: 20px;
  text-align: center;
}

#projectsContainer
{
  /* font-size: 13pt; */
  /* letter-spacing: 1pt; */
  position: relative;
  float: right;
  width: 60%;
  top: 0%;
  padding: 20px;
}

#publicationsContainer h1
{
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: 3pt;
  margin-bottom: 10%;
}

#projectsContainer h1
{
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: 3pt;
  margin-bottom: 5%;
}

#publicationsContainer div.publicationDesc
{
  margin-top: 25px;
  padding: 20px;
  font-size: 12pt;
  text-align: justify;
  background: #dddddd;
  color: black;
  border-radius: 5px;
}

#publicationsContainer div.publicationDesc p
{
  color: black;
}

#projectsContainer div.projBox
{
  text-align: justify;
  margin-bottom: 25px;
  background: #dddddd;
  padding: 10px 15px;
  color: black;
  border-radius: 5px;
}

#projectsContainer div.projTitle
{
  text-align: justify;
  font-size: 14pt;
  font-weight: bold;
  color: teal;
}

#projectsContainer div.projDesc
{
  text-align: justify;
  color: black;
}

#projectsTable
{
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

#projectsTable td:not(.midTile)
{
  height: 100%;
  border: 10px solid #009999;
  text-align: left;
  vertical-align: top;
  background: #dddddd;
  padding: 30px;
  color: gray;
}

p.projDuration
{
  color: gray;
}

#projectsTable td.midTile
{
  word-wrap: break-word;
  background: #009999;
  font-size: 30pt;
  text-transform: uppercase;
  letter-spacing: 3pt;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

a.projLink {
  color: teal;
  text-decoration: underline;
}

/* Old colors: 002222, 008090
#ptd1, #ptd3, #ptd7, #ptd9 { background: #002222; }
#ptd2, #ptd4, #ptd6, #ptd8 { background: #008090; }
*/

p.pubInfo
{
  color: black;
  font-size: 18pt;
}

p.pubInfo a
{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
  transition: opacity 1s;
  padding: 5px;
}

p.pubInfo a:hover
{
  opacity: .5;
}

a.blockLink
{
  display: block;
  width: 70%;
  padding: 20px;
  background: #009999;
  border: 0px solid black;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3pt;
  margin: 30px 0px 20px 0px;
  color: black;
  transition: background 1s;
  border-radius: 5px;
}

a.blockLink:hover
{
  cursor: pointer;
  text-decoration: none;
  background: #007777;
}

@media screen and (max-width: 768px)
{
  #publicationsContainer h1, #projectsContainer h1
  {
    font-size: 20pt;
  }

  #publicationsContainer h2 {
    font-size: 16pt;
  }

  p.pubInfo {
    font-size: 14pt;
  }

  #publicationsContainer
  {
    height: auto;
    position: relative;
    top: 0%;
    float: none;
    width: 100%;
    background: #009999;
    padding: 20px;
    text-align: center;
  }

  #projectsContainer
  {
    font-size: 10pt;
    letter-spacing: 1pt;
    position: relative;
    top: 0%;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 500px)
{
  #projectsTable td:not(.midTile)
  {
    padding: 10px;
    font-size: 8pt;
    word-wrap: break-word;
  }

  a.blockLink
  {
    width: 90%;
    word-wrap: break-word;
  }

  #projectsContainer div.projBox
  {
    max-height: 400px;
    overflow: scroll;
  }
}
