/*
Work experience page
*/

#myWorkPage
{
  background-color: #4B1D13;
}

#workExperienceText h1
{
  color: white;
}

#workExContainer
{
  padding-top: 50px;
  width: 100%;
}

.workExBox
{
  position: relative;
  width: 60%;
  height: 180px;
  opacity: .8;
  margin: 0 0 30px 0;
  background: #FFE4B5;
  opacity: .7;
  border-radius: 5px;
}

.workExBox div
{
  color: black;
}

.role, .org, .duration, .desc
{
  color: black;
  width: 40%;
}

.role
{
  position: absolute;
  top: 10px;
  left: 5%;
  font-size: 20pt;
}

.org
{
  position: absolute;
  top: 10px;
  right: 5%;
  font-size: 20pt;
}

.duration
{
  position: absolute;
  top: 70px;
  left: 5%;
  font-size: 12pt;
}

.desc
{
  position: absolute;
  top: 70px;
  right: 5%;
  font-size: 12pt;
}

.workLogo
{
  position: absolute;
  top: 30px;
  left: 47%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #FFE4B5;
  border: 2px solid black;
  font-size: 30px;
  padding: 5px;
}

@media screen and (max-width: 1024px)
{

  .workExBox
  {
    width: auto;
    height: auto;
    padding-top: 10px;
  }

  .role, .org, .duration, .desc
  {
    color: black;
    width: 65%;
  }

  .role
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 20pt;
    padding-top: 10px;
    text-align: center;
  }

  .org
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 18pt;
    padding-top: 10px;
    text-align: center;
  }

  .duration
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 14pt;
    padding-top: 10px;
    text-align: center;
  }

  .desc
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 12pt;
    padding-top: 10px;
    text-align: justify;
  }

  .workLogo
  {
    position: relative;
    top: 0px;
    left: 0%;
  }
}

@media screen and (max-width: 400px)
{
  #workExperienceText h1
  {
    font-size: 40px;
    letter-spacing: 1pt;
    word-wrap: break-word;
  }
}
