/*
Work experience page
*/

#myWorkPage
{
  background-color: white;
  background-image: url('../img/whiteSnow.png');
  background-attachment: fixed;
}

#workExContainer
{
  padding-top: 50px;
  position: relative;
  top: 20%;
  left: 0%;
  width: 100%;
}

.workExBox
{
  position: relative;
  top: 0%;
  left: 0px;
  width: 900px;
  height: 150px;
  opacity: .8;
  margin: 0 0 50px 0;
}

.role, .org, .duration, .desc
{
  color: black;
  width: 43%;
}

.role
{
  position: absolute;
  top: 10px;
  left: 0%;
  font-size: 22pt;
}

.org
{
  position: absolute;
  top: 10px;
  right: 0%;
  font-size: 22pt;
}

.duration
{
  position: absolute;
  top: 70px;
  left: 0%;
  font-size: 14pt;
}

.desc
{
  position: absolute;
  top: 70px;
  right: 0%;
  font-size: 14pt;
}

.workLogo
{
  color: white;
  position: absolute;
  top: 30px;
  left: 47%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: black;
  border: 2px solid black;
  font-size: 30px;
  padding: 5px;
}

@media screen and (max-width: 1024px)
{

  .workExBox
  {
    width: auto;
    height: auto;
    padding-top: 10px;
  }

  .role, .org, .duration, .desc
  {
    color: black;
    width: 65%;
  }

  .role
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 20pt;
    padding-top: 10px;
    text-align: center;
  }

  .org
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 18pt;
    padding-top: 10px;
    text-align: center;
  }

  .duration
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 14pt;
    padding-top: 10px;
    text-align: center;
  }

  .desc
  {
    position: relative;
    top: 0px;
    left: 0%;
    font-size: 12pt;
    padding-top: 10px;
    text-align: justify;
  }

  .workLogo
  {
    position: relative;
    top: 0px;
    left: 0%;
  }
}

@media screen and (max-width: 400px)
{
  #workExperienceText h1
  {
    font-size: 40px;
    letter-spacing: 1pt;
    word-wrap: break-word;
  }
}
